.code-dialog .el-dialog.el-dialog--small {
  width: 720px;
}
.code-dialog .el-dialog__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
.code-dialog .el-dialog__body {
  padding: 0;
}
.sign-dialog .el-dialog.el-dialog--small {
  width: 458px;
  min-height: 500px;
  padding-bottom: 40px;
}
.sign-dialog .el-dialog__header {
  padding-bottom: 1rem;
}
.sign-dialog .el-dialog__body {
  padding: 0 1rem;
}
.sign-dialog .el-form-item {
  width: 80%;
  margin: 20px auto;
}
.template-dialog .el-dialog.el-dialog--small {
  width: 1000px;
}
.el-dialog.el-dialog--small {
  border-radius: 10px;
}
.el-checkbox__label {
  font-size: 12px;
}
