@import url('snotify.css');
.code-dialog .el-dialog.el-dialog--small {
  width: 720px;
}
.code-dialog .el-dialog__header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
}
.code-dialog .el-dialog__body {
  padding: 0;
}
.sign-dialog .el-dialog.el-dialog--small {
  width: 458px;
  min-height: 350px;
  padding-bottom: 40px;
}
.sign-dialog .el-dialog__header {
  padding-bottom: 1rem;
}
.sign-dialog .el-dialog__body {
  padding: 0 1rem;
}
.sign-dialog .el-form-item {
  width: 80%;
  margin: 20px auto;
}
.template-dialog .el-dialog.el-dialog--small {
  width: 1000px;
}
.el-dialog.el-dialog--small,
.el-dialog.el-dialog--tiny {
  border-radius: 10px;
}
.el-dialog.el-dialog--tiny {
  width: 600px;
  padding-bottom: 50px;
}
.not-trials-dialog-first .el-dialog.el-dialog--tiny {
  min-height: 350px !important;
}
.el-checkbox__label {
  font-size: 12px !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.el-input-self {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #d8dce5;
  box-sizing: border-box;
  color: #5a5e66;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 1;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../static/font/opensans.ttf');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../static/font/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url('../static/font/OpenSans-Semibold.ttf');
}
[v-cloak] {
  display: none;
}
.pages-content {
  width: 83.333rem;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 1rem;
}
.page-index {
  background: #e4e4e4;
  min-width: 83.333rem;
  min-height: 1000px;
  padding-bottom: 20px;
}
.fixed {
  position: fixed !important;
}
.blank {
  height: 100px;
  background: transparent;
}
.inline-b {
  display: inline-block;
}
.gray-s {
  color: #898989;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
img {
  max-width: 100%;
}
html {
  font-size: 18px;
  box-sizing: border-box;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}
button,
input,
select,
textarea {
  font-family: "Open Sans", Arial, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a:focus,
a:hover {
  outline: none;
}
a,
a:focus {
  cursor: pointer;
  color: #0072bc;
  text-decoration: none;
}
.link {
  color: #0072bc;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}
.pointer {
  cursor: pointer;
}
.capitalize {
  text-transform: capitalize;
}
.line-through {
  text-decoration: line-through;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
table td,
table th {
  border: 1px solid #d9d9d9;
}
table th {
  background: #ebebeb;
  text-align: center;
}
table td,
th {
  font-weight: normal;
}
table tbody tr td {
  vertical-align: middle;
}
.table-self {
  width: 100%;
  border: 1px solid #d9d9d9;
}
.red {
  color: red;
}
.title {
  font-size: 26px;
  margin: .7rem 0;
  font-weight: normal;
  position: relative;
}
.title-bottom {
  position: relative;
  font-size: 26px;
  margin: .7rem 0;
  font-weight: normal;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.7rem 0;
}
.title-s {
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 36px;
  color: #1a1a1a;
  border-bottom: 1px solid #e6e6e6;
}
.merchant-color {
  background: #ec5d1c;
}
.reds-color {
  background: #FF3366;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.coupons-pagination .pagination {
  width: 100%;
  text-align: right;
  padding-right: 15rem;
}
.coupons-pagination .pagination li.active .items {
  border: none;
}
.coupons-pagination .pagination li .items {
  background: #fff;
}
.search-form {
  position: relative;
  font-size: 14px;
  width: 100%;
  height: 80px;
  padding-top: 22px;
}
.search-form .form-control-bootstrap {
  margin-right: 3%;
  width: 16%;
}
.search-form .search {
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  width: 60px;
  height: 36px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  line-height: 0.8;
  background: #85ba3b;
  border: 1px solid #85ba3b;
  color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  font-weight: 600;
  white-space: nowrap;
  font-size: 16px;
  font-size: 0.78rem;
  position: absolute;
  top: 50%;
  margin-top: -18px;
}
.search-form .search:hover {
  background: #77a735;
  border-color: #77a735;
}
.search-form .search:active {
  background: #92c549;
  border-color: #92c549;
}
.search-form .add-coupons {
  position: absolute;
  right: 0;
  top: 50%;
  font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  line-height: 0.8;
  background: #7ab7e0;
  border: 1px solid #7ab7e0;
  color: #fff;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  font-weight: 600;
  white-space: nowrap;
  font-size: 16px;
  margin-top: -20px;
}
.search-form .add-coupons:hover {
  background: #65acdb;
  border-color: #65acdb;
}
.search-form .add-coupons:active {
  background: #8fc2e5;
  border-color: #8fc2e5;
}
.google_translate_element {
  position: relative;
  padding: 5px 5px 5px 5px;
}
#google_translate_element .goog-te-gadget-simple {
  white-space: nowrap ;
  padding: 0px ;
  border: 0px;
  height: 24px;
  line-height: 21px;
  background-color: transparent;
  width: 80%;
  background: white;
  text-align: left;
  border: 1px solid #eee;
  margin: 0 auto;
}
.goog-te-menu-value span:nth-of-type(3) {
  display: none;
}
.goog-te-menu-value span:nth-of-type(2) {
  display: none;
}
.goog-te-menu-value img {
  display: none;
}
.iconfont.icongoogle {
  float: right;
  margin-right: 5px;
  margin-top: 2px;
  font-size: 12px;
}
@media screen and (max-width: 1557px) {
  html {
    font-size: 14.9px;
  }
  .promotion-coupons {
    min-height: 660px !important;
  }
  .details-content .promotion {
    min-height: 425px !important;
  }
  .flag-trial {
    top: 1rem !important;
  }
}
@media screen and (max-width: 1389px) {
  .promotion-coupons {
    min-height: 660px !important;
  }
  .details-content .promotion {
    min-height: 425px !important;
  }
  .flag-trial {
    top: 1rem !important;
  }
}
@media screen and (max-width: 1270px) {
  html {
    font-size: 12px !important;
  }
  .coupons-product .btn-coupons {
    height: 2.5rem !important;
  }
  .trials-explain,
  .head-crumbs {
    width: 98% !important;
  }
  .merchant {
    width: 98% !important;
  }
  .home-content {
    width: 98% !important;
  }
  .login-y.user-info {
    padding: 0 !important;
  }
  .promotion-coupons {
    min-height: 630px !important;
  }
  .details-content .promotion {
    min-height: 390px !important;
  }
  .flag-trial {
    margin-top: -0.4rem !important;
  }
}
@media screen and (max-width: 1280px) {
  .broadside {
    display: none;
  }
}
